/* アイドルリスト ここから */

#idollist {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 400px;
    height: 550px;
    padding: 5px;
    //box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
    background-color: var(--bg-color);
}

#idollist.hide {
    display: none;
}

#idollist_container {
    width: 100%;
    height: 100%;
}



#il_tab {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: flex-start;

    .tab {
        flex-basis: 25%;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        text-align: center;
        background-color: var(--bg-color);
        color: black;

        border-right: 1px solid gray;
        border-bottom: 1px solid gray;
        margin: 1px 0px;

        user-select: none;

        &.tab_selected {
            border-top: var(--highlight) 3px solid;
            line-height: 24px;
            background-color: white;
            color: black;
        }
    }
}

#il_list {
    padding: 5px;
    width: 100%;
    overflow-x: hidden;
    height: calc(100% - 230px);
    overflow-y: auto;
}


#il_menubar {
    height: 40px;
    text-align: right;
    display: flex;
    justify-content: center;
    gap: 5px;


    .button {
        flex: 0 0 40%;
        height: 40px;
        line-height: 40px;
        border-radius: 5px;
        text-align: center;
        user-select: none;
        cursor: pointer;
    }

    #il_clear {
        background-color: white;
    }

    #il_close {
        background-color: navy;
        color: white;
    }
}



#il_unit {
    height: 60px;
    text-align: center;

    display: flex;
    justify-content: center;

    .icon {
        width: 60px;
        height: 60px;
        padding: 6px;


        &.icon_selected {
            background-color: var(--highlight);
        }

        img {
            width: 48px;
            height: 48px;
        }
    }
}

.il_skillname {
    height: 24px;
    line-height: 24px;
    border-radius: 12px;
    background-color: white;
    font-size: 12px;
    margin: 5px 0px;
    text-align: center;
}



.idol {
    vertical-align: top;
    width: 33%;
    display: inline-block;


    div,
    img {
        display: inline-block;
        vertical-align: top;
    }

    img {
        width: 48px;
        padding: 3px;
    }
}

.listgroop {
    //display: none;
    height: 100%;
    overflow: auto;
}

img,
.tab {
    cursor: pointer;
}

/* アイドルリスト ここまで */