.notenum_0 {
    background-image: url(./material/notes_0.png);
}

.notenum_1 {
    background-image: url(./material/notes_1.png);
}

.notenum_2 {
    background-image: url(./material/notes_2.png);
}

.notenum_3 {
    background-image: url(./material/notes_3.png);
}

.notenum_4 {
    background-image: url(./material/notes_4.png);
}

.notenum_5 {
    background-image: url(./material/notes_5.png);
}

.notenum_6 {
    background-image: url(./material/notes_6.png);
}

.notenum_7 {
    background-image: url(./material/notes_7.png);
}

.notenum_8 {
    background-image: url(./material/notes_8.png);
}

.notenum_9 {
    background-image: url(./material/notes_9.png);
}

.notenum_10 {
    background-image: url(./material/notes_10.png);
}

.notes_perfect {
    background-color: navy;
    color: white;
}

.notes_danger,
.notes_miss {
    background-color: darkorange;
}

.notes_guard {
    background-color: darkgray;
}

.danger {
    background-color: darkorange;
}

@for $i from 0 through 100 {
    $per: percentage($i / 100);

    .lifeper-#{$i} {
        background: linear-gradient(to right,
                lightgreen 0%,
                lightgreen $per,
                white $per,
                white 100%)
    }
}

@for $i from 101 through 200 {
    $per: percentage(($i - 100) / 100);

    .lifeper-#{$i} {
        background: linear-gradient(to right,
                green 0%,
                green $per,
                lightgreen $per,
                lightgreen 100%)
    }
}