.danger {
    background-color: darkorange;
}

@for $i from 0 through 100 {
    $per: percentage(calc($i / 100));

    .lifeper-#{$i} {
        background: linear-gradient(to right,
                lightgreen 0%,
                lightgreen $per,
                white $per,
                white 100%)
    }
}

@for $i from 101 through 200 {
    $per: percentage(calc(($i - 100) / 100));

    .lifeper-#{$i} {
        background: linear-gradient(to right,
                green 0%,
                green $per,
                lightgreen $per,
                lightgreen 100%)
    }
}