/* 特技系 ここから */

.support,
.rsupport {
    background-color: orange;
}
.tuning {
    background-color: gold;
}

.guard,
.ssrguard {
    background-color: turquoise;
}

.boost {
    background-color: #f74343;
    color: white;
}
.srboost {
    background-color: tomato;
    color: white;
}
.symfony,
.ensemble {
    background-color: crimson;
    color: white;
}

.magic {
    background: linear-gradient(
        to right,
        #f99 0%,
        #ff9 20%,
        #9f9 40%,
        #9ff 60%,
        #99f 80%,
        #f9f 100%
    );
}

.rezo {
    background-color: indigo;
}

.slideact {
    background-color: purple;
    color: white;
}

.coode {
    background-color: violet;
}
.synergy {
    background-color: hotpink;
}

.allround {
    background-color: mediumseagreen;
}

.heal {
    background: green;
    color: white;
}

.combona {
    background-color: sienna;
    color: white;
}

.concent {
    background-color: #4046ff;
    color: white;
}
.motif {
    background-color: #3433a3;
    color: white;
}

.encore {
    background-color: var(--bg-color);
}

.refrain {
    background-color: silver;
}

.alternate, .mutual{
    background-color: pink;
}

/* スキルここまで */