/* 特技系 ここから */

@mixin bg($color) {
    background-color: $color;
    fill: rgba($color, 0.3);
}

.support,
.rsupport {
    @include bg(orange);
}

.tuning {
    @include bg(gold);
}

.guard,
.ssrguard {
    @include bg(rgb(107, 226, 214));
}

.boost {
    @include bg(#f74343);
    color: white;
}

.srboost {
    @include bg(tomato);
    color: white;
}

.symfony,
.ensemble {
    @include bg(crimson);
    color: white;
}

.magic {
    background: linear-gradient(to right,
            #f99 0%,
            #ff9 20%,
            #9f9 40%,
            #9ff 60%,
            #99f 80%,
            #f9f 100%);
}

.rezo {
    @include bg(indigo);
}

.slideact {
    @include bg(purple);
    color: white;
}

.coode {
    @include bg(violet);
}

.synergy {
    @include bg(hotpink);
}

.allround {
    @include bg(rgb(115, 202, 155));
}

.heal {
    @include bg( green);
    color: white;
}

.combona {
    @include bg(sienna);
    color: white;
}

.concent {
    @include bg(#4046ff);
    color: white;
}

.motif {
    @include bg(#3433a3);
    color: white;
}

.encore {
    @include bg(var(--bg-color));
}

.refrain {
    @include bg(silver);
}

.alternate,
.mutual {
    @include bg(pink);
}

.cristal{
    @include bg(rgb(119, 233, 214));
}

/* スキルここまで */