#ad {
    position: fixed;
    width: 100%;
    max-width: 100%;
    bottom: 0;
    left: 0;
    right: initial;
    top: initial;

    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    text-align: left;

    img {
        max-width: calc(100vw - 60px);
    }
}

html {
    font-size: 13px;
}

#idollist {
    margin: 0;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.6);

    #idollist_container {
        background-color: var(--bg-color);
    }
}