* {
    box-sizing: border-box;
}

:root {
    --bg-color: rgb(227, 229, 233);
    --highlight: orange;
}

html {
    width: 100%;
    font-size: 15px;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

#ad {
    position: absolute;
    right: 0;
    top: 24px;
}


@import "./idolList";
@import "./notes_bar";
@import "./skill";
@import "./table";

@media screen and (max-width: 480px) {
    @import "./smartphone";
}